<h1>Open Jobs</h1>
<p>Company: <%= @jobs[0][:company] %></p>
<p>Position: <%= @jobs[0][:position] %></p>
<p>Location: <%= @jobs[0][:location] %></p>
<hr>
<p>Company: <%= @jobs[1][:company] %></p>
<p>Position: <%= @jobs[1][:position] %></p>
<p>Location: <%= @jobs[1][:location] %></p>
<hr>
<p>Company: <%= @jobs[2][:company] %></p>
<p>Position: <%= @jobs[2][:position] %></p>
<p>Location: <%= @jobs[2][:location] %></p>
<hr>
<p>Company: <%= @jobs[3][:company] %></p>
<p>Position: <%= @jobs[3][:position] %></p>
<p>Location: <%= @jobs[3][:location] %></p>
<hr>
<p>Company: <%= @jobs[4][:company] %></p>
<p>Position: <%= @jobs[4][:position] %></p>
<p>Location: <%= @jobs[4][:location] %></p>
<hr>